Repository matheusbrauna/rentalx: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint-and-format, npm run test:staged, npm run prettier

feat: create categories use case created
  src/dtos/ICreateCategoryDTO.ts
  src/entities/Category.ts
  src/repositories/ICategoriesRepository.ts
  src/repositories/implementations/CategoriesRepository.ts
  src/routes/categories.routes.ts
  src/routes/hello.route.ts
  src/routes/index.ts
  src/useCases/CreateCategoryUseCase.ts
Due: npm run lint-and-format, npm run test:staged

feat(specification.ts): create specification entity
  src/entities/Specification.ts
Due: npm run lint-and-format, npm run test:staged

refactor(modules): add modules folder structure
  src/modules/cars/dtos/ICreateCategoryDTO.ts
  src/modules/cars/entities/Category.ts
  src/modules/cars/entities/Specification.ts
  src/modules/cars/repositories/ICategoriesRepository.ts
  src/modules/cars/repositories/ISpecificationsRepository.ts
  src/modules/cars/repositories/implementations/CategoriesRepository.ts
  src/modules/cars/repositories/implementations/SpecificationsRepository.ts
  src/modules/cars/useCases/CreateCategoryUseCase.ts
  src/modules/cars/useCases/CreateSpecificationUseCase.ts
  src/routes/categories.routes.ts
Due: npm run lint-and-format, npm run test:staged

feat: create specifications repository
  src/modules/cars/dtos/ICreateSpecificationDTO.ts
  src/modules/cars/repositories/ISpecificationsRepository.ts
  src/modules/cars/repositories/implementations/CategoriesRepository.ts
  src/modules/cars/repositories/implementations/SpecificationsRepository.ts
Due: npm run lint-and-format, npm run test:staged

feat(specifications): create specification use case created
  src/modules/cars/useCases/CreateSpecificationUseCase.ts
Due: npm run lint-and-format, npm run test:staged

feat(specifications): create specifications routes
  src/routes/index.ts
  src/routes/specifications.routes.ts
Due: npm run lint-and-format, npm run test:staged

feat(createcategory): create factory to createCategoryController
  src/modules/cars/useCases/createCategory/CreateCategoryController.ts
  src/modules/cars/useCases/createCategory/CreateCategoryFactory.ts
  src/modules/cars/useCases/createCategory/CreateCategoryUseCase.ts
  src/modules/cars/useCases/createSpecification/CreateSpecificationController.ts
  src/modules/cars/useCases/createSpecification/CreateSpecificationUseCase.ts
  src/routes/categories.routes.ts
  src/routes/specifications.routes.ts
Due: npm run lint-and-format, npm run test:staged

feat(listcategories): create factory to ListCategoriesController
  src/modules/cars/useCases/listCategories/ListCategoriesController.ts
  src/modules/cars/useCases/listCategories/ListCategoriesFactory.ts
  src/modules/cars/useCases/listCategories/ListCategoriesUseCase.ts
  src/routes/categories.routes.ts
Due: npm run lint-and-format, npm run test:staged

feat(categoriesrepository): applying singleton pattern to CategoriesRepository
  src/modules/cars/repositories/implementations/CategoriesRepository.ts
  src/modules/cars/useCases/createCategory/CreateCategoryFactory.ts
  src/modules/cars/useCases/listCategories/ListCategoriesFactory.ts
Due: npm run lint-and-format, npm run test:staged

feat: applying singleton and factory patterns to createSpecification
  src/modules/cars/repositories/implementations/SpecificationsRepository.ts
  src/modules/cars/useCases/createSpecification/CreateSpecificationController.ts
  src/modules/cars/useCases/createSpecification/CreateSpeficicationFactory.ts
  src/routes/specifications.routes.ts
Due: npm run lint-and-format, npm run test:staged

feat(multer): create multer setup and middleware to import categories
  package-lock.json
  package.json
  src/routes/categories.routes.ts
  tmp/f37ad5749a6bb54f2bf7191197d7134f
Due: npm run lint-and-format, npm run test:staged, npm run prettier

feat(importcategory): import category use case and factory created
  .gitignore
  package-lock.json
  package.json
  src/modules/cars/useCases/importCategory/ImportCategoryController.ts
  src/modules/cars/useCases/importCategory/ImportCategoryFactory.ts
  src/modules/cars/useCases/importCategory/ImportCategoryUseCase.ts
  src/routes/categories.routes.ts
Due: npm run lint-and-format, npm run test:staged, npm run prettier

chore(swagger): add swagger-ui-express setup
  package-lock.json
  package.json
  src/app.ts
Due: npm run lint-and-format, npm run test:staged, npm run prettier

docs(categories): add categories routes documentation
  src/swagger.json
Due: npm run prettier

feat(tmp): add autodelete tmp files after loadCategories ends
  src/modules/cars/useCases/importCategory/ImportCategoryUseCase.ts
Due: npm run lint-and-format, npm run test:staged

Path conditions:
  npm run lint-and-format: any of: **/*.{js,jsx,ts,tsx}
  npm run test:staged: any of: **/*.{js,jsx,ts,tsx}
  npm run prettier: any of: **/*.{css,scss,md,html,json}
